body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(214, 160, 250);
}

.active {
  font-weight: 600;
}

.inactive {
  font-weight: normal;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(223, 188, 253);
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  border: 2px solid black;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.winningSquares {
  color: #000;
  background: rgb(252, 99, 158);
}

.draw {
  text-align: center;
  width: 102px;
  height: 102px;
  background-color: #ddd;
  padding: 20px;
}

.win {
  text-align: center;
}

.reset {
  padding: 5px;
}

.game {
  display: block;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  margin: 2px;
  font-weight: bold;
  background-color: rgb(107, 194, 241);
}

.first-btn {
  margin-top: 200px;
  height: 60px;
}

.random-place {
  margin-left: 200px;
  margin-right: 10px;
}

#square {
  width: 280px;
  height: 110px;
  background: #ffffff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 5px;
  margin-left: 5px;
  padding: 0px;
  box-sizing:border-box;
  box-shadow: 0 10px 15px grey;
}

#croissant {
  margin-left: 85px;
  margin-top: 5px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  color: #ffffff;
}

.txt-croissant {
  margin-bottom: 5px;
  text-align: center;
  font-size: 23px;
}

.food {
  display: flex;
}

h2 {
  font-size: 25px;
  margin-bottom: 1px;
}

h3 {
  color: #ffffff;
  font-size: 23px;
  background-color: rgb(136, 88, 212);
  border-radius: 15px;
  text-align: center;
}

h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.translation {
  height: 25px;
  margin-bottom: 10px;
}

img {
  margin-top: 10px;
}

#first {
  height: 300px;
  width: 350px;
  display: flex;
  border: 3px solid black;
}

#try {
  color: #ffffff;
  background-color: rgb(136, 88, 212);
  padding-inline-start: 5px;
}

.places {
  display: flex;
}

#places {
  margin-left: 50px;
  margin-right: 50px;
}

.list {
  background-color: rgb(223, 190, 255);
}

.shopping-list {
  background-color: rgb(216, 198, 255);
  border: 2px solid black;
  width: 500px;
  height: 600px;
  text-align: center
}

.shopping-btn {
  text-align: center;
}

.check {
  font-size: 30px;
  margin-left: 150px;

}